<ul class="nav">
    <li>
      <a href="dashboard.html">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>

    <li *ngFor="let heading of Menu" routerLinkActive="active">
        <a data-toggle="collapse" href="#{{heading.id}}">
          <i class="material-icons">{{heading.styleClass}}</i>
          <p>
           {{heading.title}}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="{{heading.id}}" *ngIf="heading.task.length>0">
          <ul class="nav">
            <li *ngFor="let page of heading.task" routerLinkActive="active">
              <a [routerLink]="[page.url]">
                <span class="sidebar-mini">{{page.name}}</span>
                <span class="sidebar-normal">{{page.title}}</span>
              </a>
            </li>

          </ul>
        </div>
      </li>
  </ul>