<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <form ngNoForm id="formValidation" action="#" method="">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">contacts</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Add Words</h4>
                            <div class="row">

                                <div class="form-group label-floating col-md-6">
                                    <label class="control-label">Word

                                    </label>
                                    <input class="form-control" name="name" [(ngModel)]="taskModel.name" required="true" />
                                </div>
                                <div class="form-group label-floating col-md-6">
                                    <label class="control-label">Description

                                    </label>
                                    <input class="form-control" name="tite" [(ngModel)]="taskModel.title" required="true" />
                                </div>
                            </div>




                            <!-- <div class="text-center pull-right">
                                <button type="button" (click)="onBack()" class="btn btn-default btn-fill btn-wd">Back to list</button>
                                <button type="button" (click)="Save()" class="btn btn-rose btn-fill btn-wd">Save</button>
                            </div> -->
                        </div>
                    </form>
                    <div>
                        <div class="form-group col-sm-12">
                            <label class="control-label"> </label>

                            <div class="col-sm-10">
                                <label class="col-sm-12" style="color:black">
                                    <b>Add Language</b>
                                </label>
                            </div>

                        </div>

                        <div class="col-sm-12 table-responsive">
                            <div class="form-group">
                                <form>
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline">
                                        <thead>
                                            <th>Language</th>
                                            <th>Word</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <!-- <tr> 
                                            <ng-container *ngIf != "rec.Edit">-->
                                            <td>hgh</td>
                                            <td>ggu</td>
                                            <td>hgf</td>
                                            <!--</ng-container>-->
                                            <ng-container *ngIf="rec.Edit">
                                                    <td>
                                                        <input required type="text" Name="Heading" class="form-control listcss" [(ngModel)]="EditModel.languageName">
                                                    </td>
                                                    <td>
                                                        <input required type="text" Name="CssClass" class="form-control listcss" [(ngModel)]="EditModel.languageCode">
                                                    </td>
                                                    
                                                    <td>
                                                        <select required class="form-control" name="Status" [(ngModel)]="EditModel.status">
                                                            <option value="">Choose Status</option>
                                                            <option value="true">Enabled</option>
                                                            <option value="false">Disabled</option>
                                                        </select>
                                                    </td>
                                                    <td class="text-right">
                                                        <a (click)="Update(rec)" class="btn btn-simple btn-warning btn-icon edit">
                                                            <i class="material-icons">save</i>
                                                        </a>
                                                        <a (click)="Cancel(rec)" class="btn btn-simple btn-danger btn-icon remove">
                                                            <i class="material-icons">close</i>
                                                        </a>


                                                    </td>
                                                </ng-container>
                                            <!-- </tr> -->
                                        </tbody>
                                        <tfoot>

                                            <tr>
                                                <td>
                                                    <select required class="form-control" name="Status" [(ngModel)]="AddModel.status">
                                                        <option value="">Choose Language</option>
                                                        <option value="true">English</option>
                                                        <option value="false">Hindi</option>
                                                        <option value="false">Punjabi</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input required type="text" Name="Heading" class="form-control listcss" [(ngModel)]="AddModel.languageName">
                                                </td>
                                                <td>
                                                    <input required type="text" Name="Heading1" class="form-control listcss" [(ngModel)]="AddModel.languageCode">
                                                </td>


                                                <td class="text-right">
                                                    <a (click)="Save()" class="btn btn-simple btn-warning btn-icon edit">
                                                        <i class="material-icons">save</i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </form>
                            </div>


                        </div>
                    </div>
                    <div>
                        <div class="form-group col-sm-12">
                            <label class="control-label"> </label>

                            <div class="col-sm-10">
                                <label class="col-sm-12" style="color:black">
                                    <b>Add Source</b>
                                </label>
                            </div>

                        </div>

                        <div class="col-sm-12 table-responsive">
                            <div class="form-group">
                                <form>
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline">
                                        <thead>
                                            <th>Source</th>
                                            <th>Meaning</th>
                                            <th>Translation</th>
                                        </thead>
                                        <tbody>
                                            <td>hgh</td>
                                            <td>ggu</td>
                                            <td>hgf</td>
                                        </tbody>
                                        <tfoot>

                                            <tr>
                                                <td>
                                                    <select required class="form-control" name="Status" [(ngModel)]="AddModel.status">
                                                        <option value="">Choose Language</option>
                                                        <option value="true">English</option>
                                                        <option value="false">Hindi</option>
                                                        <option value="false">Punjabi</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input required type="text" Name="Heading" class="form-control listcss" [(ngModel)]="AddModel.languageName">
                                                </td>
                                                <td>
                                                    <input required type="text" Name="Heading1" class="form-control listcss" [(ngModel)]="AddModel.languageCode">
                                                </td>

                                                <td class="text-right">
                                                    <a (click)="Save()" class="btn btn-simple btn-warning btn-icon edit">
                                                        <i class="material-icons">save</i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </form>
                            </div>


                        </div>
                    </div>
                    <div class="text-center pull-right">
                        <button type="button" (click)="onBack()" class="btn btn-default btn-fill btn-wd">Back to list</button>
                        <!-- <button type="button" (click)="Save()" class="btn btn-rose btn-fill btn-wd">Save</button> -->
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<app-confirm [Title]="'Add Confirmation'" [desc]="Msg" (btnOKClicked)="btnOK($event)"></app-confirm>